{% load static  %}

<li>
    <article class="post">
        <a href="{% url "post-detail-page" "the-mountains" %}">
            <img src=" {% static "blog/images/mountains.jpg" %}" alt="Some alt text here" />
            <div class="post__content">
                <h3>Title of this placeholder</h3>
                <p>This is a placeholder post which will be dynamically generated later on. It will be fetched from a database which will be so lovely.</p>
            </div>
        </a>
    </article>
</li>